# Eclat

## Importing libraries

In [2]:
%pip install apyori

Requirement already satisfied: apyori in c:\python312\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

## Importing dataset

In [3]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

## Eclat Training on Dataset

In [4]:
data_set = pd.read_csv("Netflix Movie Recommendation.csv", header=None)
transactions = []
for i in range(0,7465):
    transactions.append([str(data_set.values[i,j]) for j in range(0,20)])

## Visualizing

### Raw Results

In [11]:
from apyori import apriori
rules = apriori(transactions=transactions, min_support=0.003, min_confidence = 0.2, min_lift=3, min_length = 2, max_length = 2)

In [12]:
results = list(rules)

In [13]:
results

[RelationRecord(items=frozenset({'Captain America', 'Black Panther'}), support=0.003348961821835231, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Captain America'}), items_add=frozenset({'Black Panther'}), confidence=0.2450980392156863, lift=5.139485569508703)]),
 RelationRecord(items=frozenset({'Game of thrones', 'Comedy nights with Kapil'}), support=0.003215003348961822, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'Comedy nights with Kapil'}), confidence=0.2051282051282051, lift=3.099761237413059)]),
 RelationRecord(items=frozenset({'Kanan Gill Comedy', 'Comedy nights with Kapil'}), support=0.008037508372404554, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Kanan Gill Comedy'}), items_add=frozenset({'Comedy nights with Kapil'}), confidence=0.27149321266968324, lift=4.102625167164343)]),
 RelationRecord(items=frozenset({'Game of thrones', 'Prision Break'}), support=0.004554588077695914, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'Prision Break'}), confidence=0.29059829059829057, lift=4.831439285782269)]),
 RelationRecord(items=frozenset({'Harry Potter 2', 'Harry Potter 1'}), support=0.005760214333556598, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Harry Potter 1'}), items_add=frozenset({'Harry Potter 2'}), confidence=0.3675213675213675, lift=4.642211520384109)]),
 RelationRecord(items=frozenset({'The Lord of the rings', 'Harry Potter 1'}), support=0.005090421969189551, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Harry Potter 1'}), items_add=frozenset({'The Lord of the rings'}), confidence=0.32478632478632474, lift=4.5233767062125265)]),
 RelationRecord(items=frozenset({'crimes of grindelwald', 'Harry Potter 2'}), support=0.005760214333556598, ordered_statistics=[OrderedStatistic(items_base=frozenset({'crimes of grindelwald'}), items_add=frozenset({'Harry Potter 2'}), confidence=0.3006993006993007, lift=3.7981730621324528)]),
 RelationRecord(items=frozenset({'inception', 'Interstellar'}), support=0.0159410582719357, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Interstellar'}), items_add=frozenset({'inception'}), confidence=0.3216216216216216, lift=3.26209973560517)]),
 RelationRecord(items=frozenset({'inception', 'The Wolf of Wall Street'}), support=0.0053583389149363695, ordered_statistics=[OrderedStatistic(items_base=frozenset({'The Wolf of Wall Street'}), items_add=frozenset({'inception'}), confidence=0.37735849056603776, lift=3.827420016406891)])]

### Proper Display

In [14]:
def inspect(results):
    movie_1         = [tuple(result[2][0][0])[0] for result in results]
    movie_2         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    return list(zip(movie_1, movie_2, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Movie 1', 'Movie 2', 'Support'])

In [15]:
resultsinDataFrame

                   Movie 1                   Movie 2   Support
0          Captain America             Black Panther  0.003349
1          Game of thrones  Comedy nights with Kapil  0.003215
2        Kanan Gill Comedy  Comedy nights with Kapil  0.008038
3          Game of thrones             Prision Break  0.004555
4           Harry Potter 1            Harry Potter 2  0.005760
5           Harry Potter 1     The Lord of the rings  0.005090
6    crimes of grindelwald            Harry Potter 2  0.005760
7             Interstellar                 inception  0.015941
8  The Wolf of Wall Street                 inception  0.005358

In [18]:
resultsinDataFrame.nlargest(n=10, columns='Support')

                   Movie 1                   Movie 2   Support
7             Interstellar                 inception  0.015941
2        Kanan Gill Comedy  Comedy nights with Kapil  0.008038
6    crimes of grindelwald            Harry Potter 2  0.005760
4           Harry Potter 1            Harry Potter 2  0.005760
8  The Wolf of Wall Street                 inception  0.005358
5           Harry Potter 1     The Lord of the rings  0.005090
3          Game of thrones             Prision Break  0.004555
0          Captain America             Black Panther  0.003349
1          Game of thrones  Comedy nights with Kapil  0.003215